.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black;
    margin-top: 80px;
    margin-left: 80px ;
}
#score{
    margin-left: 350px;
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(22, 22, 181);
    left: 50px;
    bottom: 50px;
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
    left: 50px;
    bottom: 50px;
}

.ball{
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 10px;
    background-color: lawngreen;

}